---
import Title from "./Title.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Title title={`${t("news.item1")}`} />
<span>{`${t("news.subitem1.3")}`}</span><br />
<table border="0">
    <tr>
        <td>
            <a href="/news/jun_2024.jpg">
                <img
                    src="/news/jun_2024.jpg"
                    style="width:30vw;border-radius:1vw;margin-right:5vw; margin-bottom:2vw"
                />
            </a>
        </td>
    </tr>
</table>
<br/>
<span>{`${t("news.subitem1.2")}`}</span><br />
<table border="0">
    <tr>
        <td>
            <a href="/news/ringato_afiche.png">
                <img
                    src="/news/ringato_afiche.png"
                    style="width:30vw;border-radius:1vw;margin-right:5vw; margin-bottom:2vw"
                />
            </a>
        </td>
        <td>
            <a href="/news/kerekito_afiche.png">
                <img
                    src="/news/kerekito_afiche.png"
                    style="width:30vw;border-radius:1vw;margin-right:5vw; margin-bottom:2vw"
                />
            </a>
        </td>
    </tr>
</table>
<br/>
<span>{`${t("news.subitem1.1")}`}</span><br />
<div class="row">
    <img
        src="/news/2024_King.png"
        class="img-responsive"
        style="max-width: 900px"
    />
</div>
<Title title={`${t("news.item2")}`} />
<span>{`${t("news.subitem2")}`}</span><br />
<div class="row">
    <img
        src="/news/Levendula.png"
        class="img-responsive"
        style="max-width: 900px"
    />
</div>
<Title title={`${t("news.item3")}`} />
<span>{`${t("news.subitem3")}`}</span><br />
<div class="row">
    <img
        src="/news/Winter2022.png"
        class="img-responsive"
        style="max-width: 900px"
    />
</div>
