---
const { title } = Astro.props;
---
<img
    class="img-responsive"
    style="padding-left:10px;"
    src="/news_divider4.png"
/>
<div class="blueBar">
 <a style='margin-top:0px!important'> { title }
 </a> 
</div>